/**
 * All of the CSS for your admin-specific functionality.
 */

select.bmlt_export_service_body_select {
    width: 50%;
    max-width: 50%;
}

#bmlt_export_accordion {
    width: 80%
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    width: 100% !important;
}
.chosen-container-multi * {
    font-family: 'Courier New', Courier, monospace;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    font-family: "Open Sans",sans-serif !important;
}
